.todo {
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
      li{
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 0.75em;
        margin: 0.75em 0.5em;
          .complete-true span {
            background: pink;
            text-decoration: line-through;
              :hover{
                background: seagreen;
              }
          }
          span{
            background: #e0e0e0;
            cursor: pointer;
          }
          input{
            border: 0.5px solid #eee;
            display: inline-block;
            padding: 0.2em 0.25em;
            width: 300px;
          }
          :hover{
            background: pink;
          }
        button{
          background: transparent;
          border: none;
          color: blue;
          cursor: pointer;
          padding: 0;
          margin: 0 0.75em;
        }    
      }  
  }
}
